name: Deploy Frontend

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - run: docker build . -t sachinimaginet/event-management-frontend:latest -t sachinimaginet/event-management-frontend:${{ github.sha }}
      - run: echo "${{ secrets.DOCKERHUB_PASSWORD}}" | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
      - run: docker push sachinimaginet/event-management-frontend:latest
      - run: docker push sachinimaginet/event-management-frontend:${{ github.sha }}
